/* Reset margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color for the entire page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a1859b; 
}

/* Navigation bar styling */
header {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s; 
}

header:hover {
    background-color: #444; 
}

/* Header logo styling */
header .logo img {
    height: 40px;
    margin-right: 10px;
}

/* Navigation links styling */
header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s; 
}

header nav a:hover {
    color: #c484c0; 
}

/* Main content styling */
main {
    padding: 20px;
}

main .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

main .content {
    max-width: 600px;
    margin-right: 20px;
}

main .content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

main .content p, main .content ul {
    margin-bottom: 20px;
}

main .content ul li {
    margin-bottom: 10px;
}

main .content button {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    cursor: pointer;
}

main .content button:hover {
    background-color: #b17a13;
}

/* Image container styling */
.image-container img {
    display: block; 
    max-width: 600px; 
    height: 600px; 
}

.image-container {
    text-align: left; 
}

/* Section styling */
section {
    padding: 20px;
    margin-bottom: 20px;
}

#about {
    background-color: #a08498;
}

#about .service-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#about .service-images img {
    width: 200px;
}

#contact {
    background-color: #a997ad;
}

#location {
    background-color: #9f89a1;
}

#reviews {
    background-color: #3d2e19;
}

#reviews form label {
    display: block;
    margin-bottom: 5px;
}

#reviews form input[type="text"],
#reviews form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#reviews form button {
    padding: 10px 20px;
    background-color: #423932;
    color: #fff;
    border: none;
    cursor: pointer;
}

#reviews form button:hover {
    background-color: #493e32;
}

#reviews #reviewsList h3 {
    margin-bottom: 10px;
}

/* Booking modal styling */
#bookingModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#bookingModal .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

#bookingModal .modal-content label {
    display: block;
    margin-bottom: 5px;
}

#bookingModal .modal-content input[type="text"],
#bookingModal .modal-content input[type="date"],
#bookingModal .modal-content input[type="time"],
#bookingModal .modal-content select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

#bookingModal .modal-content button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#bookingModal .modal-content button:hover {
    background-color: #555;
}

#bookingModal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

#bookingModal .close:hover,
#bookingModal .close:focus {
    color: #c296c4;
}

/* Footer styling */
footer {
    background-color: #a1889f;
    color: #866886;
    text-align: center;
    padding: 10px 0;
}

footer .social-media a {
    display: inline-block;
    margin: 0 10px;
}

footer .social-media a img {
    width: 30px;
}
